html{
	scroll-behavior: smooth;
}
*{
	padding: 0px;
	margin: 0px;
}

ul li.active a{

	border-bottom: 3px solid red;
}

/*----------------------------- home section ----------------------------------*/

#home{
	background: url('../images/home.jpg'); 
	background-size: 100% 100%; 
	padding: 350px;
	height:670px;
	width: 100%;
}


#home h1{ 
	font-size: 55px;
	margin-left: -100px;
	text-decoration-line: underline;
	animation: type 3s steps(18);
	overflow: hidden;
	white-space: nowrap;
	font-family: Verdana, Geneva, sans-serif;
}

@keyframes type{
	0% {
		width: 0ch;
	}

	100%{
		width: 18ch;
	}
}

#home p{
	font-size: 40px;
	animation: typing 3s steps(18);
	overflow: hidden;
	margin-left: -25px;
	white-space: nowrap;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration-line: underline;
}

@keyframes typing{
	0% {
		width: 0ch;
	}

	100%{
		width: 18ch;
	}
}


/*------------------------------ about section ----------------------------------*/


#about{
	height: 700px;
	width: 100%;
}

#about h1{
	padding: 50px 12px;
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline;
}

#about h2{
	margin-left: 10px;
	text-decoration-line: underline;
}

#about h3{
	margin-left: 10px;
	font-size: 20px
}

#about .box{
	margin-top: -50px;
	width: 650px;
	height: 300px;
	border-color: #87CEFA;
	border-radius: 15px;
	border-style: outset;
}

#about ul li{
	color: black;
	font-family: cursive;
	margin: 20px;
	text-decoration: none;

}

#about img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top: -50px;
}

#about .row{
	padding-top: 100px; 
}



/*------------------------------ education section ----------------------------------*/

#education{
	background: #FFEED8;
	height: 635px;
	width: 100%;
}

#education h1, #education h2,#education h3{
	padding: 50px 10px;
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline;
}

#education .box{
	position: relative;
	width: calc(400px - 30px);
	height: calc(400px - 30px);
	background: #ff0;
	margin-bottom: 132px;
	float: left;
	margin-top: 50px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

#education .box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

#education .box .icon img{
	width: 400px;
	margin-left: -5px;
	margin-top: 50px;
	margin-right: auto;
}
#education .box:hover .icon{
	top: 40px;
	left: 140px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#education .box:hover .icon img{
	width: 250px;
	margin-right: auto;
	margin-top: -20px;
	margin-left: -80px;
}

#education .box .school{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 1;
}

#education .box .school img{
	width: 250px;
	margin-top: 50px;
	margin-right: auto;
}
#education .box:hover .school{
	top: 40px;
	left: 150px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
#education .box:hover .school img{
	width: 125px;
	margin-right: auto;
	margin-top: -20px;
	margin-left: -30px;
}

#education .box .content{
	position: absolute;
	top: 170px;
	left: 40px;
	font-family: helvetica;
	font-size: 25px;
	text-align: center;
	box-sizing: border-box;
}

#education p{
	margin-top: -50px;
}



/*------------------------------ skills section ------------------------------------*/

#skills{
	height: 850px;
	background: #2e2e2e;
	width: 100%;
}

#skills h1{
	text-align: center;
	padding: 60px;
	text-decoration: underline;
	font-size: 50px;
}

#skills .container{
	position: relative;
	width: 100%;
}

#skills .container h1{
	color: #FFF;
}

#skills .container .skills{
	position: relative;
	display: flex;
	margin: 20px 0px;
	padding: 24px 10px 18px;
	background: linear-gradient(#616161 0%,#333 10%, #222);
	border-radius: 8px;
	overflow: hidden;
	border: 2px solid #000;
	transition: 0.5s;
}

#skills .container:hover .skills{
	opacity: 0.05;
}

#skills .container .skills:hover{
	opacity: 1;
}

#skills .container .skills:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	height:50%;
	background:rgba(255,255,255,.1);
	z-index: 10;
}

#skills .container .skills .Name{
	position: relative;
	width: 110px;
	text-align: right;
	color: #fff;
	margin-top: -2px;
	text-transform: uppercase;
}


#skills .container .skills .Value{
	position: relative;
	width: 40px;
	text-align: left;
	color: #fff;
	margin-top: -2px;
	text-transform: uppercase;
}

#skills .container .skills .percent{
	position: relative;
	width: calc(100% - 150px);
	height: 20px;
	margin: 0 10px;
	border-radius: 10px;
	background: #151515;
	box-shadow: inset 0 0 10px #000;
	overflow: hidden;
}

#skills .container .skills .percent .progress{
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	box-shadow: inset 0 0 2px #000;
	animation: animate 4s ease-in-out forwards;

}
@keyframes animate{
	from{
		width: 0;
	}
}

#skills .container .skills:nth-child(odd) .percent .progress{
	background: linear-gradient(45deg, #3bc0ff, #33ff00);
}


#skills .container .skills:nth-child(even) .percent .progress{
	background: linear-gradient(45deg, #1fe6ff, #673AB7);
}


/*---------------------------- Achievements Section ----------------------------*/

#achievements{
	background: #4C4A4B;
	height: 670px;
	width: 100%;
	padding: 80px;	
}

#achievements h1{
	text-align: center;
	font-size: 50px;
	margin: 150px;
	text-decoration: underline;
	transition: all 0.6s ease;

}

#achievements ul li{
	text-decoration-style: none;
	list-style-type: none;
	font-size: 2px;
	margin: 30px;
	opacity: 0;
	transition: all 0.6s ease;
}

#achievements .box{
	position: relative;
	height: 500px;
	width: 1100px;
	margin: 20px;
	float: left;
	background: #111;
	border-radius: 25px;
	color: #fff;
	padding: 30px;
	transition: all 0.8s ease;
}

#achievements .box:hover{
	border-style: outset;
	border-color: #9BF485;
	border-radius: 25px;
	border-size: 50px; 
	border-width: 50px;

}


#achievements .box:hover ul li{
	font-size: 20px;
	opacity: 1
}

#achievements .box:hover h1{
	margin: 0px;
	font-size: 0px;
	opacity: 0;
}



/*------------------------------ Projects section ----------------------------------*/

#projects{
	height: 635px;
	width: 100%;
}

#projects h1{
	padding: 50px ;
	font-size: 50px;
	text-align: center;
	text-decoration-line: underline;
}

#projects .box{
	width: 300px;
	height: 350px;
	margin-top: -80px;
	margin-bottom: 125px;
	float :left;
	border-color: black;
	border-radius: 5px;
	border-style: outset;	
}

#projects h2{
	margin-top: 90px;
	font-size: 45px;
	opacity: 0.9;
	text-align: center;
	font-family: cursive;
	transition: all 0.9s ease;
}

#projects ul li{
	opacity: 0;
	font-size: 0px;
	margin: 0px;
	transition: all 0.9s ease;
	cursor: pointer;
}

#projects ul li a{
	color: blue;
}

#projects ul li a:hover {
	color: red;
}

#projects .box:hover ul li{
	opacity: 0.9;
	color: black;
	font-size: 18px;
	margin: 15px;
	margin-left: 30px;
	cursor: pointer;
}

#projects .box:hover h2{
	font-size: 0px;
	margin-top: 0px;
	opacity: 0;
}

#projects .row{
	margin-top: 100px;
	margin-left: 120px;
}

/*------------------------------ contact section ----------------------------------*/

#contact{
	height: 670px;
	width: 100%;
}

#contact h2{
	padding-top: 10px;
}

#contact .form{
	width: 37%;
}

#contact .where{
	float: right;
	margin-top: -415px;
	margin-right: -20px;
	margin-left: 500px;
}

#contact iframe{
	width: 650px;
	height: 350px;
}

#contact .container{
	margin-left: 100px;
	padding-top: 70px;
}


/*------------------ footer section ----------------------*/

.footer-top{
	background: white;
	padding: 40px 0px;
	border-color: black;
	border-style: outset;

}

.footer-top p{
	font-size:20px;
}

.footer-top .container .segment-one img{
	height: 30px;
	width: 30px;
}


.footer-top .container .segment-two{
	padding-left: 250px; 
}

.footer-top .container .segment-two img{
	height: 30px;
	width: 30px;
}

/*----------------------------- Responsive ----------------------------*/

@media(min-width: 992px) and (max-width: 1100px;){
	#home{
		width: 100%;
		height: 642px;
		padding: 150px;
		background-size: 100% 100%;
	}
	#home p{
		font-size: 40px;
		margin-left: -70px;
	}

	#home h1{
		margin-top: 200px;
		font-size: 45px;
		margin-left: -100px;
	}


	#about .box{
		margin-top: 0px;
		width: 650px;
		height: 300px;
		margin-left: -80px;
		border-color: #87CEFA;
		border-radius: 15px;
		border-style: outset;
	}
	
	#about img{
		margin-left: -150px;
		height: 300px;
		width: 300px;

	}


	#education .row{
		margin-left: -120px;
		margin-right: -100px;
	}



	#achievements{
		height: 700px;
		width: 100%;
		padding: 40px;	
	}

	#achievements h1{
		text-align: center;
		font-size: 40px;
		margin: 50px;
		margin-top: 200px; 

	}

	#achievements .box{
		margin-left: -25px;
		height: 550px;
		width: 1000px;
	}

	#achievements .box:hover{
		border-radius: 25px;
		border-size: 25px; 
		border-width: 50px;

	}

	#achievements .box:hover ul li{
		font-size: 25px;
	}

	#contact .container{
		margin-left: 0px;
	}

	#contact .form{
		margin-left: -120px;

	}

	#contact h2{
		padding-bottom: 20px;
		margin-left: -120px;
	}

	#contact .where{
		margin-top: -437px;
	}

	.footer-top .container .segment-two{
        padding-left: 0px;
        padding-top: 90px;
    }




}

@media(min-width: 768px) and (max-width: 991px){

	#home{
		width: 100%;
		height: 642px;
		padding: 150px;
		background-size: 100% 100%;
	}
	#home p{
		font-size: 40px;
		margin-left: -70px;
	}

	#home h1{
		margin-top: 200px;
		font-size: 45px;
		margin-left: -100px;
	}


	#about{
		height: 700px;
		width: 100%;
	}

	#about h2{
		font-size: 25px;
		margin-left: 0px;
		text-decoration-line: underline;
	}

	#about h3{
		margin-left: 10px;
		font-size: 15px
	}

	#about .box{
		margin-top: 0px;
		width: 550px;
		height: 300px;
		margin-left: -50px;
		border-color: #87CEFA;
		border-radius: 15px;
		border-style: outset;
	}
	
	#about img{
		margin-left: -150px;
		height: 250px;
		width: 250px;

	}

	#education .box{
		width: 300px;
		height: 300px;
	}

	#education .box .icon img{
		width: 400px;
		margin-left: -40px;
		margin-top: 40px;
		margin-right: auto;
	}

	#education .box .school img{
		width: 250px;
		margin-top: 30px;
		margin-right: auto;
	}

	#education h2{
		padding: 20px 10px;
		font-size: 45px;
	}
	#education h3{
		padding: 25px 10px;
		font-size: 40px;
		margin-left: 0px;
		
	}
	#education p{
		margin-top: -30px;
	}

	#education .box:hover .icon{
		left: 100px;
	}
	#education .box:hover .school{
		left: 120px;
	}
	#education .box:hover .school img{
		margin-left: -30px;
	}

	
	#education .row{
		margin-left: -120px;
		margin-right: -100px;
	}


	#projects{
		padding: 0px;
		height: 680px;
		width: 100%;
	}

	#projects .box{
		width: 280px;
		height: 350px;
		margin-top: -80px;
		margin-bottom: 0px;	
	}

	#projects .row{
		margin-top: 100px;
		margin-left: 50px;
	}


	#achievements{
		height: 700px;
		width: 100%;
		padding: 40px;	
	}

	#achievements h1{
		text-align: center;
		font-size: 40px;
		margin: 50px;
		margin-top: 200px; 

	}

	#achievements .box{
		margin-left: -10px;
		height: 550px;
		width: 775px;
	}

	#achievements .box:hover{
		border-radius: 25px;
		border-size: 25px; 
		border-width: 45px;

	}

	#achievements .box:hover ul li{
		font-size: 20px;
	}



	#contact{
		width: 100%;
		height: 1200px;
	}

	#contact h2{
		font-size: 60px;
		margin-left: 30px; 
		margin-bottom: 30px;
	}

	#contact h3{
		font-size: 50px;
		margin-bottom: 20px;
	}

	#contact .form{
		width: 120%;
		margin-left: 30px; 
	}

	#contact .where{
		float: left;
		margin-top: 25px;
		margin-right: 0px;
		margin-left: 30px;
	}

	#contact iframe{
		margin-left: 20px;
		width: 750px;
		height: 400px;
	}

	#contact .container hr{
		width: 780px;
	}

    #contact .container{
    	margin-left: 0px;
    	padding-top: 50px;
    }

    #contact p{
    	font-size: 20px;
    }


    .footer-top .container .segment-one{
     	 padding-left: 0px;
         padding-top: 0px;
     }

    .footer-top .container .segment-two{
        padding-left: 61px;
        padding-top: 0px;
    }



}

@media(min-width: 575px) and (max-width: 767px){

	#home{
		width: 100%;
		height: 642px;
		padding: 150px;
		background-size: 100% 100%;
	}
	#home p{
		font-size: 30px;
		margin-left: -70px;
	}

	#home h1{
		margin-top: 200px;
		font-size: 35px;
		margin-left: -100px;
	}

	#about{
		height: 700px;
		width: 100%;
	}

	#about h2{
		font-size: 25px;
		margin-left: 0px;
		text-decoration-line: underline;
	}

	#about h3{
		margin-left: 10px;
		font-size: 15px
	}

	#about .box{
		margin-top: 0px;
		width: 480px;
		height: 300px;
		margin-left: -130px;
		border-color: #87CEFA;
		border-radius: 15px;
		border-style: outset;
	}
	
	#about img{
		margin-left: -100px;
		height: 200px;
		width: 200px;

	}

	#education .box{
		width: 225px;
		height: 250px;
	}

	#education .box .icon img{
		width: 200px;
		margin-left: 0px;
		margin-top: 40px;
		margin-right: auto;
	}

	#education .box .school img{
		width: 150px;
		margin-top: 30px;
		margin-right: auto;
	}

	#education h2{
		padding: 20px 10px;
		font-size: 20px;
	}
	#education h3{
		padding: 25px 10px;
		font-size: 20px;
		margin-left: 0px;
		
	}
	#education p{
		font-size: 15px;
		margin-top: -30px;
	}

	#education .box:hover .icon{
		left: 65px;
	}
	#education .box:hover .school{
		left: 80px;
	}
	#education .box:hover .school img{
		margin-left: -30px;
	}

	
	#education .row{
		margin-left: -120px;
		margin-right: -100px;
	}


	

	#projects{
		padding: 0px;
		height: 1000px;
		width: 100%;
	}


	#achievements{
		height: 700px;
		width: 100%;
		padding: 40px;	
	}

	#achievements h1{
		text-align: center;
		font-size: 30px;
		margin: 50px;
		margin-top: 200px; 

	}

	#achievements .box{
		margin-left: -10px;
		height: 550px;
		width: 550px;
	}

	#achievements .box:hover{
		border-radius: 25px;
		border-size: 25px; 
		border-width: 40px;

	}

	#achievements .box:hover ul li{
		font-size: 18px;
	}



	#contact{
		width: 100%;
		height: 1100px;
	}

	#contact h2{
		font-size: 40px;
		margin-left: 30px; 
	}

	#contact .form{
		width: 120%;
		margin-left: 30px; 
	}

	#contact .where{
		float: left;
		margin-top: 25px;
		margin-right: 0px;
		margin-left: 30px;
	}

	#contact iframe{
		margin-left: 20px;
		width: 650px;
		height: 400px;
	}

	#contact .container hr{
		width: 680px;
	}

    #contact .container{
    	margin-left: 0px;
    	padding-top: 50px;
    }


    .footer-top .container .segment-two{
        padding-left: 0px;
        padding-top: 100px;
    }



}
@media(min-width: 480px) and (max-width: 574px){

	#home{
		width: 100%;
		height: 642px;
		padding: 150px;
		background-size: 100% 100%;
	}
	#home p{
		font-size: 18px;
		margin-left: -90px;
	}

	#home h1{
		margin-top: 200px;
		font-size: 23px;
		margin-left: -120px;
	}

	#about{
		height: 900px;
		width: 100%;
	}

	#about h2{
		font-size: 25px;
		margin-left: 0px;
		text-decoration-line: underline;
	}

	#about h3{
		margin-left: 10px;
		font-size: 15px
	}

	#about .box{
		margin-top: 20px;
		width: 510px;
		height: 300px;
		border-color: #87CEFA;
		border-radius: 15px;
		border-style: outset;
	}
	
	#about img{
		margin-left: -55px; 
	}



	#education{
		padding: 0px;
		height: 1750px;
		width: 100%;
	}

	#skills{
		padding: 0px;
		width: 100%
	}

	#projects{
		padding: 0px;
		height: 1000px;
		width: 100%;
	}

	#projects .box{
		padding: 0px;
		margin-top: -80px;
		margin-left: -40px; 
	}

	
	#achievements{
		height: 700px;
		width: 100%;
		padding: 40px;	
	}

	#achievements h1{
		text-align: center;
		font-size: 30px;
		margin: 50px;
		margin-top: 200px; 

	}

	#achievements .box{
		margin-left: -10px;
		height: 550px;
		width: 450px;
	}

	#achievements .box:hover{
		border-radius: 25px;
		border-size: 25px; 
		border-width: 34px;

	}

	#achievements .box:hover ul li{
		font-size: 16px;
	}


	#contact{
		width: 100%;
		height: 1100px;
	}

	#contact .form{
		width: 90%;
	}

	#contact .where{
		float: left;
		margin-top: 25px;
		margin-right: 0px;
		margin-left: 0px;
	}

	#contact iframe{
		margin-left: 20px;
		width: 440px;
		height: 400px;
	}

	#contact .container hr{
		width: 500px;
	}

    #contact .container{
    	margin-left: 0px;
    	padding-top: 50px;
    }

    .footer-top .container .segment-two{
        padding-left: 0px;
        padding-top: 60px;
    }

}

@media (min-width: 0px) and (max-width: 479px){

	#home{
		width: 100%;
		height: 642px;
		padding: 150px;
		background-size: 100% 100%;
	}
	#home p{
		font-size: 10px;
		margin-left: -130px;
	}

	#home h1{
		margin-top: 190px;
		font-size: 13px;
		margin-left: -150px;
	}

	#about{
		height: 900px;
		width: 100%;
	}

	#about h2{
		font-size: 20px;
		margin-left: 0px;
		text-decoration-line: underline;
	}

	#about h3{
		margin-left: 10px;
		font-size: 15px
	}

	#about .box{
		margin-top: 20px;
		width: 90%;
		height: 450px;
		border-color: #87CEFA;
		border-radius: 15px;
		border-style: outset;
	}
	
	#about img{
		width: 200px;
		height: 200px;
		margin-left: -55px;
		margin-top: -100px; 
	}



	#education{
		padding: 0px;
		height: 1750px;
		width: 100%;
	}

	#education .box{
		height: 300px; 
		width: 250px;
	}

	

	#education h2,#education h3{
		padding: 40px 10px;
		font-size: 25px;
		margin-left: -10px;
		padding-top: 20px;
	}

	#education .box .icon img{
		width: 250px;
		margin-left: 5px;
		margin-top: 60px;
	}

	#education .box .school img{
		width: 150px;
		margin-top: 60px;
	}

	#education .box:hover .school{
		top: 40px;
		left: 140px;
		width: 0px;
		height: 0px;
		border-radius: 50%;
	}

	#education .box:hover .school img{
		width: 100px;
		margin-right: auto;
		margin-top: -20px;
		margin-left: -60px;
	}

	#education .box:hover .icon{
		top: 40px;
		left: 140px;
		width: 0px;
		height: 0px;
		border-radius: 50%;
	}

	#education .box:hover .icon img{
		width: 150px;
		margin-right: auto;
		margin-top: -20px;
		margin-left: -80px;
	}

	#education p{
		margin-left: -30px;
	}

	#skills{
		padding: 0px;
		width: 100%
	}

	#projects{
		padding: 0px;
		height: 1000px;
		width: 100%;
	}

	#projects .box{
		width: 220px;
		height: 300px;
		padding: 0px;
		margin-top: -80px;
		margin-left: -40%; 
	}

	#projects h2{
		font-size: 37px;
	}

	#projects .box:hover ul li{
		font-size: 15px;
	}



	
	#achievements{
		height: 700px;
		width: 100%;
		padding: 0px;	
	}

	#achievements h1{
		text-align: center;
		font-size: 25px;
		margin: 20px;
		margin-top: 200px; 

	}

	#achievements .box{
		margin-left: 0px;
		height: 100%;
		width: 100%;
	}

	#achievements .box:hover{
		border-radius: 25px;
		border-size: 25px; 
		border-width: 10px;

	}

	#achievements .box:hover ul li{
		font-size: 15px;
	}


	#contact{
		width: 100%;
		height: 1200px;
	}

	#contact .form{
		width: 90%;
	}

	#contact h3{
		font-size: 25px;
	}

	#contact .where{
		float: left;
		margin-top: 25px;
		margin-right: 0px;
		margin-left: 0px;
	}

	#contact iframe{
		margin-left: 0px;
		width: 90%;
		height: 400px;
	}

	#contact .container hr{
		width: 250px;
	}

    #contact .container{
    	margin-left: 0px;
    	padding-top: 50px;
    }


	.footer-top .container .segment-two{
        padding-left: 0px;
        padding-top: 50px;
    }

}